description "Trivalent, secureblue's hardened Chromium fork"

supports "fedora"

requires "build-environment"
requires "selinux-policy"

packages {
    fedora "trivalent" "trivalent-qt6-ui" "trivalent-selinux" enablerepo="secureblue"
}
