description "Xbox controller support: the xone driver, built and signed for the running kernel"

supports "fedora"

requires "kernel-devel"
requires-file "/usr/share/secureboot/sb_cert.der"
requires-file "/usr/libexec/kernel-devel-helpers.sh"

arg "KERNEL"
secret "mok_privkey"

asset "xone" {
    pin {
        renovate datasource="git-refs" depName="https://github.com/medusalix/xone"
        version "3484f603484782dd7551c64e5a33fc602b127051"
        url "https://github.com/medusalix/xone.git"
    }
}
