description "Plymouth boot splash on the spinner theme"

supports "fedora" "debian" "ubuntu"

requires "build-environment"

packages "plymouth"

family "fedora" "ubuntu" { packages "plymouth-theme-spinner" }
family "debian" { packages "plymouth-themes" }
