description "Full media codec set from negativo17, replacing the base image's stripped ffmpeg"

supports "fedora"

requires "build-environment"

family "fedora" {
    packages "ffmpeg" "ffmpeg-libs" "libva-utils" "pipewire-config-raop" \
        "pipewire-gstreamer" "pipewire-libs-extra" "pipewire-utils"
}
